<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h3>Home</h3>
    <form action="login" method="post" th:object="${login}" >
        <fieldset>
            <legend>Login</legend>
            <table>
                <tr>
                    <td>
                        <label for="account">Account</label>
                    </td>
                    <td>
                        <input type="text" id="account" th:field="*{account}">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input type="password" id="password" th:field="*{password}">
                    </td>
                </tr>
            </table>
            <button>Loginn</button>
        </fieldset>
    </form>
</body>
</html>